SPRING_PROFILES_ACTIVE=prod
DB_HOST=pet-shop-mysql.cho2uq2auqbz.ap-southeast-1.rds.amazonaws.com
DB_PORT=3306
DB_NAME=pet_shop
DB_APP_USERNAME=pet_shop_app
DB_APP_PASSWORD=YOUR_REAL_APP_PASSWORD
DB_MIGRATION_USERNAME=pet_shop_migration
DB_MIGRATION_PASSWORD=YOUR_REAL_MIGRATION_PASSWORD
SERVER_ADDRESS=127.0.0.1
SERVER_PORT=8080